<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDd_CN77wz_FqUv3_aI9Pp39VMbol-GGjE</string>
	<key>GCM_SENDER_ID</key>
	<string>932746279778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.routeCourses</string>
	<key>PROJECT_ID</key>
	<string>route-courses-5aa5e</string>
	<key>STORAGE_BUCKET</key>
	<string>route-courses-5aa5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932746279778:ios:c6eec0c641ad1f97620a3b</string>
</dict>
</plist>